#go {
  margin-top: 8px;
}

#images {
  margin-top: 2em;
}

.tags_array > .label {
  cursor: pointer;
  margin: 0.5em;
}

.thumbnail {
  display: none;
  height: 160px;
  cursor: pointer;
}

.what-no-js {
  display: none;
}

.no-js .what-no-js {
  display: block;
}
